body>div>p {
    font-family: Verdana;
}

.pag_principal {
    text-align: center;
    font-size: 0;
}

.pag_principal .elemento {
    display: inline-block;
    background-color:purple;
    color : white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 13pt;
    font-family:verdana;
}

.pag_principal .elemento a{
    color: white
}

.pag_principal .elemento:hover {
    background-color: orange;
}

body>div>h4 {
    display: inline-block;
    background-color: rgb(253, 253, 144);
    color: purple;
    padding: 10px;
    border-style: dotted;
    border-color: purple;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.tabulado p {
    margin-left: 25px;
}

#esteno {
    margin-left: 0px;
}
